<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.jiyun.com.bloodpressureguard">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShuJuJiLuActivity"/>
        <activity android:name=".activity.XueYaZXActivity"/>
        <activity android:name=".activity.LoginActivity"></activity>
        <activity android:name=".activity.My_Collection"></activity>
        <activity android:name=".activity.My_Data"></activity>
        <activity android:name=".activity.My_Message"></activity>
        <activity android:name=".activity.My_Set"></activity>
        <activity android:name=".activity.huan_num.Huan_PhoneNum"></activity>
        <activity android:name=".activity.huan_num.Phone_Num"></activity>
        <activity android:name=".activity.huan_num.YanZheng_Ma"></activity>


        <activity android:name=".activity.WenYishengActivity"></activity>
        <activity android:name=".activity.MianFwiTiWenActivity"></activity>
        <activity android:name=".activity.XiangQingActivity"></activity>
        <activity android:name=".activity.XueYaJiLuActivity"></activity>

        <activity android:name=".activity.Collection_XiangQing"></activity>
        <activity android:name=".activity.huan_num.BangDing_Activity"></activity>

    </application>

</manifest>